#{extends 'main.html' /}
#{set title:'About' /}

<div class="container">
	
	<div class="base-unit"></div>
  		<section id="about">
  		<div class="page-header">
    	<h1>About GroupConnect <small>What it is, the team, and more</small></h1>
  	</div>
  		  
	</section>			
		<p>GroupConnect is ..</p>		   	
  		<h2>The Team</h2>		   	
  		<p>GroupConnect is made by a world-class group who have built ..</p>		   	
  		<h2>Contact Us</h2>		   	
  		<p>Feel free to ask us questions or give us feedback at <a href="mailto:info@groupconnect.com">info@groupconnect.com</a>.</p>
	</section>

</div>