#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container">
	
	<div class="base-unit"></div>
  		<section id="about">
  		<div class="page-header">
    	<h1>Thank You</h1>
  	</div>
 		  
 		<h3>Schedule link</h3>
	<p>Send this link to anyone you wish to invite.</p>
	</p><a href="/igg3izu9hqsnvpi6">http://www.groupconnect.com/igg3izu9hqsnvpi6</a></p>
	
	<h3>Admin link</h3>
	<p>Access this link to change, close or delete this scheduled event.</p>
	</p><a href="">http://www.groupconnect.com/igg3izu9hqsnvpi69ndzvtpz/admin</a></p>

</div>