#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container">
	
	<div class="base-unit"></div>
  		<section id="about">
  		<div class="page-header">
    	<h1>You've been invited by ... to ...</h1>
    	<p>Enter your name and import your calendar to auto-fill the times that you are available for this event.</p>
  	</div>
  		  
	<div class="row">
		<div class="span2 columns">&nbsp;</div>
	  	<div class="span8 columns">
		    <form id="form-download" method="post" action="/schedule">
		    	<fieldset>
                 	<div class="clearfix">
		    			<label for="">Your name</label>
			    		<div class="input">
			            	<input class="xlarge" id="name" name="name" size="30" type="text">
			            </div>
                 	</div>
		    	</fieldset>				    	
		    </form>
	  	</div>
	  	<div class="span6 columns">
	      <h3>How does it work?</h3>
	      <p>You've been invited to this event, and we're finding the best time you can all attend.</p>
	      <ul>
	      	<li><strong>Easy scheduling</strong> of events</li>
	        <li>You and your friends <strong>import your online calendars</strong></li>
	        <li><strong>Confirm</strong> date and time</li>
	      </ul>
	    </div>
	</div>
	
	<div class="row">
		<div class="span5 columns">&nbsp;</div>
	  	<div class="span11 columns"><a id="btn-save" href="" class="btn large primary">Import Calendar</a></div>
	</div>

</div>